* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0b0b0b;
    color: white;
    height: 100vh;
}

/* ORTA ALAN */
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 90px;
    font-weight: bold;
}

h2 {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 5px;
}

p {
    margin-top: 25px;
    color: #aaa;
    font-size: 14px;
}
